@keyframes shake {
    0% { transform: translateX(calc(var(--intensifactor) * -1px)); }
    100% { transform: translateX(calc(var(--intensifactor) * 1px)); }
 }
 
 .intensified {
     --intensifactor: 0;
     animation: shake .05s infinite alternate;
     /* border: 1px solid black; */
     display: inline-block;
     font-weight: calc(var(--intensifactor) * 20 + 400);
     padding-left: 2px;
     padding-right: 2px;
 }